.list-view .sorter {
    display: inline-block;
    float: right;
}
.list-view .summary {
    display: inline-block;
    float: left;
}

.list-view .sorter li {
    display: inline-block;
}

.list-view .sorter a,.list-view .sorter a:visited {
    display: inline-block;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.53);
}
.list-view .sorter a:hover,.list-view .sorter a:active,.list-view .sorter a:focus {
    color: rgba(0, 170, 6, 0.84);
}