/*  Modal */
.jbox-modal{

}

.jbox-modal .jBox-title{
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 1px #2D2D2D solid;
    color: rgba(255,255,255,1);
    background-color: #000000;
    text-align: left;
    -o-text-overflow: clip;
    text-overflow: clip;
    -moz-transition: all 1000ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 1000ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 1000ms cubic-bezier(0.42, 0, 0.58, 1);
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
.jBox-container:hover .jBox-title {
    text-shadow: 0 0 5px #000000 , 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 20px #ff00de , 0 0 30px #ff00de , 0 0 40px #ff00de , 0 0 50px #ff00de;    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.jbox-modal .jBox-content{
    padding: 0;
    overflow: hidden;
}

.jBox-container .panel-footer{
    background-color: #000000;
    color: #929292;
}
/*  Notice */
.jbox-notice{

}

/*  Popup */
.jbox-popup{

}

/*  Tooltip */
.tooltip{

}


.jBox-container{
    background: #fff url("bg_big.png") right center no-repeat;
}

